@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: white;
  margin: 0;
}

/* --- Custom Scrollbar for Dark Theme --- */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333; /* Dark Grey */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Lighter on hover */
}

/* Hide scrollbar for Chrome, Safari and Opera (Utility class) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
